{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<center>
    <h5>Hola! Mi nombre es Matías Bernardez, soy Licenciado en Psicología y un apasionado de la tecnología.</h5>
    <br>
    <h5>Siempre me llamó la atención y me interesó el mundo de la programación, pero un poco por falta de tiempo y otro por miedo a lo desconocido nunca me había animado a comenzar a aprender.</h5>
    <br>
    <br>
    <h5>Esta es la primera vez que entro en contecto con Python, Django y la programación en si, mi idea es continuar practicando y perfeccionandome.</h5>
    <br>
    <br>
    <h5>Se que a mi página todavía le falta algunos retoques y limpieza de código, pero puse todo mi esfuerzo y conocimiento, espero que les guste!</h5>
    <br>
</center>

{% endblock %}