{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h3>BÚSQUEDA POR ESPECIALIDAD</h3><br>

    <form action="/AppBlog/buscar4/" method="GET">

        <input type="text" name="especialidad" id="especialidad">

        <input type="submit" value="Buscar">

    </form>


    {% if psicologo %}

    <p>Psicólogos especialista: {{especialidad}}</p>

    <ul>

    {% for Psicologo in psicologo %}

        <li> {{Psicologo.nombre}} {{Psicologo.apellido}} </li>

    {% endfor %}

    </ul>

    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}

    <br><p style="color:red;">{{respuesta}}</p>
    <br>
    <br>
    <br>
    <br>


{% endblock %}