{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<center>
    <h3>¡Bienvenido a la red de acercamiento de profesionales de la salud!</h3>
    <br>
    <h4>Este espacio fue creado para que cada persona pueda encontrar al psicólogo/psicóloga adecuado.</h4>
    <br>
    <br>
    <h5>Si venís en busca de tratamiento, puedes buscar a tu profesional según tus necesidades utilizando la barra superior.</h5>
    <br>
    <br>
    <h5>Si sos profesional y te encuentras interesado en formar parte de nuestra red, por favor selecciona la opción de UNIRTE.</h5>
    <br>
</center>

{% endblock %}