{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h1>BÚSQUEDA POR ORIENTACION</h1><br>

    <form action="/AppBlog/buscar3/" method="GET">

        <input type="text" name="orientacion" id="orientacion">

        <input type="submit" value="Buscar">

    </form>


    {% if psicologo %}

    <p>Psicólogos con orientación: {{orientacion}}</p>

    <ul>

    {% for Psicologo in psicologo %}

        <li> {{Psicologo.nombre}} {{Psicologo.apellido}} </li>

    {% endfor %}

    </ul>

    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}

    <br><p style="color:red;">{{respuesta}}</p>


{% endblock %}