{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h3>BÚSQUEDA POR TIPO DE TRATAMIENTO</h3><br>

    <form action="/AppBlog/buscar2/" method="GET">

        <input type="text" name="tipotratamiento" id="tipotratamiento">

        <input type="submit" value="Buscar">

    </form>


    {% if psicologo %}

    <p>Psicólogos especializados en: {{tipotratamiento}}</p>

    <ul>

    {% for Psicologo in psicologo %}

        <li> {{Psicologo.nombre}} {{Psicologo.apellido}} </li>

    {% endfor %}

    </ul>

    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}

    <br><p style="color:red;">{{respuesta}}</p>
    <br>
    <br>
    <br>
    <br>


{% endblock %}