{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <center>
        <h3>¿Sos profesional y estás interesando en unirte a nuestra red?</h3>
        <h3>Por favor, complta los siguientes datos para unirte a nuestra base de datos.</h3><br>

    {% if miFormulario.errors %}

    <p style ="color:red;">Están mal los datos, revisar</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <table>
            {{ miFormulario.as_table }}
        </table>

        <br><input type="submit", value="Enviar">

    </form></center><br>

{% endblock %}