{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <h1>BÚSQUEDA POR ZONA DE ATENCIÓN</h1><br>

    <form action="/AppBlog/buscar/" method="GET">

        <input type="text" name="zonaatencion" id="zonaatencion">

        <input type="submit" value="Buscar">

    </form>


    {% if psicologo %}

    <p>Psicólogos en: {{zonaatencion}}</p>

    <ul>

    {% for Psicologo in psicologo %}

        <li> {{Psicologo.nombre}} {{Psicologo.apellido}} </li>

    {% endfor %}

    </ul>

    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}

    <br><p style="color:red;">{{respuesta}}</p>

{% endblock %}